/* CSS reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html, body{
    height: 100%;
    scroll-behavior: smooth;
}

/*-------------*/

/* general divs */

.container{
    max-width: 1400px;
    margin: 0 auto;
}

.clear{
    clear: both;
}

/*-------------*/

/* fonts */

@font-face{
    font-family: "Raleway";
    src: url("../fonts/Raleway/Raleway-VariableFont_wght.ttf") format("truetype");
}

/*-------------*/

/* body */

body{
    background-image: url("../images/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

/*-------------*/

/* main */

main .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 2%;
}

.container h1{
    margin: 40px 0;
    text-align: center;
}

.form{
    width: 100%;
    max-width: 750px;
    padding: 20px 2%;
    background-color: rgba(0, 0, 0, 0.223);
    border: none;
    border-radius: 10px;
}

form fieldset{
    text-align: center;
    padding: 15px 2%;
    border: none;
    border-radius: 10px;
    font-size: 21px;
}

.form_element_wrapper{
    padding: 2%;
    float: left;
}

.form_element_wrapper input, .form_element_wrapper textarea{
    line-height: 20px;
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 10px;
    outline: none;
}

.form_element_wrapper input:focus, .form_element_wrapper textarea:focus{
    outline: 3px solid #373457;
}

.form_element_wrapper textarea{
    resize: none;
}

.form_element_wrapper_input{
    max-width: 150px;
    margin: 0 auto;
}

.form_element_wrapper_input input{
    padding: 15px;
    width: 100%;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    outline: none;
    transition: background-color 0.65s, color 0.65s;
}

.form_element_wrapper_input input:hover{
    background-color: #373457;
    color: white;
}

.w100{
    width: 100%;
}

.w50{
    width: 50%;
}

@media screen and (max-width: 768px){
    .w50{
        width: 100%;
    }
}

/*-------------*/